@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    position:absolute;
    left: 200px;
    top:25px;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


img
{
   position:relative;
   left:15px;
}

.di{
    position: absolute;
    left: 1100px;
}

nav{
   
    list-style-type:none;
}

/*nav ul {
   
   
    
}*/

nav ul li {
   display:inline;
   position:relative;
   top:15px;
   line-height:30px;
   width:10px;
   padding:20px 20px;
   background-color: blueviolet;
   
   

}
nav ul li:hover{
   background-color: rgb(4, 4, 122);
}
nav ul li a {
    font-size: 17px;
    font-family: Arial;/*FONT CHANGE*/
    text-decoration: none;
    color:white;
}

nav ul li ul{
    display: none;
    position: absolute;
    padding:10px;
}


nav ul li:hover ul{
    display:block;
}

nav ul li ul li a{
    color:white;
 
    
}
nav ul  li ul li{
    width:200px;
}



nav ul li ul li a{
  
  text-decoration: none;
  color:black;
}

